{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}

{% block content %}
<h1 style="color:black; font-size:35px;"> Reset Password </h1>
<hr style="border: 1px solid ; width:35%; margin-bottom:60px;">
<div style="color:red;font-weight:bold;" >{{msg}}</div>

<div style="font-weight:bold;"> Please enter your registered email address <div>
<br><br>

<form method="POST">
{% csrf_token %}

	<!-- <label style="margin-right:267px;"for="tx"><b>Username</b></label> -->
	<!-- <br> -->	
	<!-- <input class="fi" type="text" name="tx" placeholder="Username" required> -->
	<!-- <br><br> -->

	
	<label style="margin-right:310px;"for="tx"><b>Email</b></label>
	<br>	
	<input class="fi" type="email" name="em" placeholder="Enter Email" required>
	<br>

	<h3 style="color:brown;">Password will be Emailed to you </h3>
	<br>

	<input class="mb" type="submit" value="Reset Password" >
	<br><br>

	

</form>
	
{% endblock %}